.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 72px;
  height: 72px;
  background-size: cover;
  position: relative;
}

.cell.white {
  background-image: url("/tiles/white-tile.svg");
  background-size: cover;
}

.cell.black {
  background-image: url("/tiles/black-tile.svg");
  background-size: cover;
}

.cell img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  cursor: pointer;
}

.cell.selected {
  outline: 3px solid orange;
  outline-offset: -3px; // faz com que a borda fique "dentro"
  background-color: orange;
}